@page "/"
@layout PublicLayout

@using Ejemplo_05_0_Login_2.Components.Layout
@using Ejemplo_05_0_Login_2.Services
@using Microsoft.AspNetCore.Authorization

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

