@page
@model Ejemplo_05_CRUD_Razor.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Respuesta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Respuesta.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Respuesta.Email" class="control-label"></label>
                <input asp-for="Respuesta.Email" class="form-control" />
                <span asp-validation-for="Respuesta.Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta.Camina" /> @Html.DisplayNameFor(model => model.Respuesta.Camina)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta.UsaTransportePublico" /> @Html.DisplayNameFor(model => model.Respuesta.UsaTransportePublico)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta.UsaTransportePrivado" /> @Html.DisplayNameFor(model => model.Respuesta.UsaTransportePrivado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Respuesta.DistanciaASuDestino" class="control-label"></label>
                <input asp-for="Respuesta.DistanciaASuDestino" class="form-control" />
                <span asp-validation-for="Respuesta.DistanciaASuDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
