@model List<Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de personas</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">DNI</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.DNI</td>
                <td>@p.Nombre</td>

                <td>
                    <!--Redirección -->
                    <a href="@Url.Action("Editar", "Personas", new { id = p.Id })" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>