@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@rendermode InteractiveServer
@attribute [StreamRendering]

<h3>Formulario</h3>

<EditForm method="post" class="card mb-3"  Model="Model" OnValidSubmit="onCreatePersona" FormName="FormCreate" Enhance>

        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger" role="alert" />

        <div class="mb-3">
            <label for="id" class="form-label">Id:</label>
            <InputNumber id="id" @bind-Value="Model.Id" class="form-control" aria-required="true" />
            <ValidationMessage For="() => Model.Id" class="text-danger" />
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <InputText id="nombre" @bind-Value="Model.Nombre" class="form-control" />
            <ValidationMessage For="() => Model.Nombre" class="text-danger" />
        </div>
        <div class="mb-3">
            <label for="dni" class="form-label">DNI:</label>
            <InputNumber id="dni" @bind-Value="Model.DNI" class="form-control" />
            <ValidationMessage For="() => Model.DNI" class="text-danger" />
        </div>
        <div class="mb-3">
            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
            <InputDate id="fechaNacimiento" @bind-Value="Model.FechaNacimiento" class="form-control" />
            <ValidationMessage For="() => Model.FechaNacimiento" class="text-danger" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </EditForm>

@code {
    Personas Model { get; set; }

    private async Task onCreatePersona()
    {
        Model.FechaNacimiento = DateTime.Now;
        await _personasService.CrearNuevo(Model);
        personas.Add(Model);
        await onShowFormDetailRegistro(Model.Id);
    }
}

