@page "/login"
@layout LoginLayout
@* @rendermode InteractiveServer *@

@using Ejemplo_09_0_Template_HTML.Components.Layout
@using Ejemplo_09_0_Template_HTML.Models
@using Ejemplo_09_0_Template_HTML.Services

@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject NavigationManager Navigation

@* necesario para el acceso al contexto *@
@using Microsoft.AspNetCore.Authentication
@inject IHttpContextAccessor HttpContextAccessor

@* @rendermode InteractiveServer *@

<PageTitle>Login</PageTitle>

<h2>Usuario</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Model" OnValidSubmit="onValidarLogin" FormName="LoginForm" Enhance>

            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <div class="mb-3">
                <label for="id" class="form-label">Usuario:</label>
                <InputText id="id" @bind-Value="Model.Nombre" class="form-control" aria-required="true" />
                <ValidationMessage For="() =>  Model.Nombre" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="clave" class="form-label">Clave:</label>
                <InputText id="clave" @bind-Value="Model.Clave" class="form-control" type="password"/>
                <ValidationMessage For="() => Model.Clave" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </EditForm>
    </div>
</div>


@code {
    // [CascadingParameter]
    // public HttpContext? httpContext { get; set; }

    [SupplyParameterFromForm]
    private UsuarioModel Model { get; set; } = new();

    private UsuariosService _usuarioService = new UsuariosService();


    private string? errorMessages;

    async private Task onValidarLogin()
    {
        if (await _usuarioService.VerificarLogin(Model)==false)
        {
            errorMessages = " Usuario o Contraseña no válidos!";
            return;
        }

        var claims = new List<Claim>
        { 
            new Claim(ClaimTypes.Name, Model.Nombre)
        };

        var identity = new ClaimsIdentity(claims, "Cookies");
        var principal = new ClaimsPrincipal(identity);

        // Acceder a HttpContext a través de IHttpContextAccessor
        var httpContext = HttpContextAccessor.HttpContext;
        if (httpContext != null)
        {
            await httpContext.SignInAsync("Cookies", principal);
            Navigation.NavigateTo("/");
        }
        else
        {
            errorMessages = "No se pudo iniciar sesión debido a un error interno.";
        }
       
    }
}
