@page "/usuarios"

@attribute [Authorize]
@rendermode InteractiveServer

@* cuando se depende de asincronos *@
@attribute [StreamRendering]

@using Ejemplo_03_2_Login_controller_Cookie.Components.Layout
@using Ejemplo_03_2_Login_controller_Cookie.Models
@using Ejemplo_03_2_Login_controller_Cookie.Services

@using Microsoft.AspNetCore.Authorization


@inject NavigationManager NavManager

<div class="section">

    <select >
        @foreach (var item in UsuariosModel)
        {
            <option value="@item?.Nombre">@item?.Nombre</option>
        }
    </select>

</div>



@code {
    [SupplyParameterFromForm]
    private UsuarioModel? Model { get; set; } = new();

    private List<UsuarioModel?> UsuariosModel { get; set; } = new();

    public UsuariosService usuariosService = new();

    async protected override void OnInitialized()
    {
        Model ??= new ();

        UsuariosModel = await usuariosService.GetAll();

        StateHasChanged();
    }
}